@{
    ViewBag.Title = "Home Page";
}

<br />
<br />

<div style="text-align:center;">
    <img width="640" height="480" src="https://www.elcolombiano.com/documents/10157/0/1200x838/0c105/1200d627/none/11101/IIXR/image_content_30464159_20180213120234.jpg" />
</div>